<h1>Metro Transit System</h1>
<div class="row">
  <div class="col-sm-5">
      <h3>Available Trains</h3>

      <% if @trains.any? %>
        <ul>
          <% @trains.each do |train| %>
            <li><a href="/trains/<%= train.id %>"><%= train.name %></a></li>
          <% end %>
        </ul>
      <% else %>
        <p>There are currently no trains available.</p>
      <% end %>

      <p><a href="/trains/new">Add a new train</a></p>
      </div>
      <div class="col-sm-5">

      <h3>Metro Transit Cities</h3>
      <% if @cities.any? %>
        <ul>
          <% @cities.each do |city| %>
            <li><a href="/cities/<%= city.id %>"><%= city.name %></a></li>
          <% end %>
        </ul>
      <% else %>
        <p>There are currently no cities listed.</p>
      <% end %>

      <p><a href="/cities/new">Add a new city</a></p>
      </div>
    </div>
</div>