<!DOCTYPE html>
<html>
  <head>
    <title>Metro Service</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
    <link href="/css/styles.css" type="text/css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="/">Homepage</a>
      <a class="navbar-brand" href="/trains">Trains</a>
      <a class="navbar-brand" href="/cities">Cities</a>
    </nav>
      <%= yield %>
    </div>
  </body>
</html>