
<h1>Metro Transit System</h1>

<h3>Available Trains</h3>

<% if @trains.any? %>
  <ul>
    <% @trains.each do |train| %>
      <li><a href="/trains/<%= train.id %>"><%= train.name %></a></li>
    <% end %>
  </ul>
<% else %>
  <p>There are currently no trains available.</p>
<% end %>

<p><a href="/trains/new">Add a new train</a></p>
<br>
<p><a href="/">Go back to Homepage</a></p>